// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.brand1{
  font-family: ar destine;
  font-size: 150%;
  background: -webkit-linear-gradient(pink, white, pink);
}
.brand2{
  font-family: ar destine;
  font-size: 400%;
  color: #577C4E;
  text-align: center;
  width: 100%
}
.brand3{
  font-family: sans-serif;
  font-size: 100%;
  color: #577C4E;
  text-align: center;
  width: 100%
}
p{
  font-size: 14px;
  font-family: verdana;
  color: black;
}
